@using MCHMIS.Areas.Reports.ViewModels
@using Newtonsoft.Json
@model MCHMIS.Areas.Reports.ViewModels.CommunityValidationListViewModel

@if (Model.Summaries != null)
{
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Summary.Facility)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Summary.Beneficiaries)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Summaries)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Facility)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Beneficiaries)
                    </td>
                </tr>

            }

            @if (!Model.Summaries.Any())
            {
                <tr>
                    <td class="dataTables_empty" colspan="4">No data found.</td>
                </tr>
            }
        </tbody>
        @if (Model.Summaries.Any())
        {
            <tfoot>
                <tr>
                    <td>
                        <strong>Total</strong>
                    </td>
                    <td>
                         <strong>@Model.Summaries.Sum(i => i.Beneficiaries).ToString("##,###")</strong>
                    </td>
                </tr>
            </tfoot>
        }
    </table>

}