@model IEnumerable<MCHMIS.Models.Report>

@{
    ViewData["Title"] = "Reports";
}

@section buttons
    {
    <a class="btn btn-primary" asp-action="Create">Add New</a>
}
<table id="table-filter" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Keyword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportCategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th class="fit">Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Keyword)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReportCategory.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order)
                </td>
                <td class="text-center">
                    <a asp-action="Edit" class="fa fa-pencil" asp-route-id="@item.Id"> </a>
                </td>
            </tr>
        }
    </tbody>
</table>