@using X.PagedList.Mvc.Core
@model MCHMIS.ViewModels.EnumeratorListViewModel

@{ ViewData["Title"] = "Enumerators";
    var tasks = User.FindFirst("UserRoles").Value; }

@if (tasks.Contains("Security:Manage Security"))
{
@section buttons{
    <a asp-action="Create">Create New</a>
}}
<form asp-action="Index" class="form-paginated">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group col-md-2">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group col-md-2">
        <label asp-for="MobileNo" class="control-label"></label>
        <input asp-for="MobileNo" class="form-control" />
    </div>
    <div class="form-group col-md-2">
        <label asp-for="NationalIdNo" class="control-label"></label>
        <input asp-for="NationalIdNo" class="form-control" />
    </div>
    <div class="form-group col-md-3">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
    </div>


    <div class="col-md-2 pull-left">
        <button type="submit" class="btn btn-success pull-left btn-filter inline">
            <i class="glyphicon glyphicon-search"></i> Search
        </button>
        <button type="button" class="btn btn-default btn-reset pull-left btn-filter inline">
            <i class="fa fa-eraser"></i> Clear
        </button>
    </div>
    <input type="hidden" name="Page" id="pagination-page" value="1" />
</form>
<hr />

<table class="table table-striped table-bordered">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Enumerator.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enumerator.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enumerator.Surname)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Enumerator.MobileNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enumerator.NationalIdNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enumerator.Email)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Enumerator.Village.Ward.SubCountyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enumerator.Village.Ward)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enumerator.Village)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enumerator.IsActive)
            </th>
            @if (tasks.Contains("Security:Manage Security"))
            {
        <th class="fit">Edit</th>}
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Enumerators)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.MobileNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NationalIdNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Village.Ward.SubCounty.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Village.Ward.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Village.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            @if (tasks.Contains("Security:Manage Security"))
            {
        <td class="text-center">
            <a asp-action="Edit" class="fa fa-pencil" asp-route-id="@item.Id"></a>
        </td>}
        </tr>
}
    </tbody>
</table>

<div class="row">
    <div class="col-md-12">
        Page @(Model.Enumerators.PageCount < Model.Enumerators.PageNumber ? 0 : Model.Enumerators.PageNumber) of @Model.Enumerators.PageCount, Showing @(((Model.Enumerators.PageNumber-1)* Model.Enumerators.PageSize) + @Model.Enumerators.Count) of @Model.Enumerators.TotalItemCount
        @Html.PagedListPager(Model.Enumerators, page => Url.Action("Index", new { page = page }))
    </div>
</div>