@using Newtonsoft.Json

@model MCHMIS.Areas.Reports.ViewModels.PaymentsViewModel

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Payment.Beneficiary.UniqueId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment.IdNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment.BeneficiaryName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Payment.RecipientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment.RecipientPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment.HealthFacilityId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment.SubCountyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment.Ward)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment.Beneficiary.Village.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment.Reconciled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment.StatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment.TransactionReceipt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment.Amount)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Details)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Beneficiary.UniqueId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeneficiaryName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.RecipientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipientPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HealthFacility.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubCounty.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beneficiary.Village.Ward.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beneficiary.Village.Name)
            </td>
            <td>
                @(item.Reconciled ? "Yes" : "No")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionReceipt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="12">
                <strong>Total</strong>
            </td>
            <td>
                <strong>@Model.Total.ToString("##,###")</strong>
            </td>
        </tr>
    </tfoot>
</table>