@model MCHMIS.ViewModels.CreateChangeViewModel

@{
    ViewData["Title"] = "Change Management Details";
}
<div class="col-md-6 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Beneficiary Details</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content sectiona" style="min-height: 300px">
            <div class="form-horizontal">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td width="200" class="text-bold">Unique Id:</td>
                        <td>
                            @Html.DisplayFor(model => model.Household.UniqueId)
                        </td>
                    </tr>
                    <tr>
                        <td class="text-bold">Name:</td>
                        <td>
                            @Html.DisplayFor(model => model.Household.Mother.FullName)
                        </td>
                    </tr>
                    <tr>
                        <td class="text-bold">
                            @Html.DisplayNameFor(model => model.Household.Mother.IdNumber):
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Household.Mother.IdNumber)
                        </td>
                    </tr>

                    <tr>
                        <td class="text-bold">
                            @Html.DisplayNameFor(model => model.Household.Phone):
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Household.Phone)
                        </td>
                    </tr>
                    <tr>
                        <td class="text-bold">
                            @Html.DisplayNameFor(model => model.Household.EDD):
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Household.EDD)
                        </td>
                    </tr>
                    <tr>
                        <td class="text-bold">
                            @Html.DisplayNameFor(model => model.Household.Village.Ward.SubCountyId):
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Household.Village.Ward.SubCounty.Name)
                        </td>
                    </tr>
                    <tr>
                        <td class="text-bold">
                            @Html.DisplayNameFor(model => model.Household.Village.WardId):
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Household.Village.Ward.Name)
                        </td>
                    </tr>
                    <tr>
                        <td class="text-bold">
                            @Html.DisplayNameFor(model => model.Household.Village.Name):
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Household.Village.Name)
                        </td>
                    </tr>
                    <tr>
                        <td class="text-bold">
                            @Html.DisplayNameFor(model => model.Household.StatusId):
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Household.Status.Name)
                        </td>
                    </tr>
                </table>
                <h2>Next of Kin Details</h2>
                <hr />
                <table class="table table-bordered table-striped">
                    <tr>
                        <td width="200">
                            <strong>Name:</strong>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Household.NOKFirstName)
                            @Html.DisplayFor(model => model.Household.NOKMiddleName)
                            @Html.DisplayFor(model => model.Household.NOKSurname)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Phone:</strong>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Household.NOKPhone)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>ID Number:</strong>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Household.NOKIdNumber)
                        </td>
                    </tr>
                </table>
                <h2>Nominee Details</h2>
                <hr />
                <table class="table table-bordered table-striped">
                    <tr>
                        <td width="200">
                            <strong>Name:</strong>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Household.NomineeFirstName)
                            @Html.DisplayFor(model => model.Household.NomineeMiddleName)
                            @Html.DisplayFor(model => model.Household.NomineeSurname)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>ID Number:</strong>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Household.NomineeIdNumber)
                        </td>
                    </tr>
                </table>
                <h2>Payment Details</h2>
                <hr />
                <table class="table table-bordered table-striped">
                    <tr>
                        <td width="200" class="text-bold">
                            Recipient Names
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Household.RecipientNames)
                        </td>
                    </tr>
                    <tr>
                        <td class="text-bold">
                            ID Number
                        </td>
                        <td>
                            @(Model.Household.HasProxy == true ? Html.DisplayFor(model => model.Household.NomineeIdNumber) : Html.DisplayFor(model => model.Household.Mother.IdNumber))
                        </td>
                    </tr>
                    <tr>
                        <td class="text-bold">
                            @Html.DisplayNameFor(model => model.Household.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Household.Phone)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Change Details</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content sectiona" style="min-height: 300px">
            <div class="form-horizontal">
                <form asp-action="Edit" class="edit-change-form" enctype="multipart/form-data">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="HouseholdId" type="hidden" />
                    <input asp-for="Id" type="hidden" />
                    <input asp-for="CreatedById" type="hidden" />
                    <input asp-for="DateActioned" type="hidden" />
                    <input asp-for="ActionedById" type="hidden" />
                    <input asp-for="CurrentHealthFacilityId" type="hidden" />
                    <input asp-for="SupportingDocument" type="hidden" />
                    <input asp-for="DateCreated" type="hidden" />
                    <input asp-for="StatusId" type="hidden" />

                    <div class="form-group">
                        <label asp-for="ChangeTypeId" class="control-label"></label>
                        <select asp-for="ChangeTypeId" class="form-control" asp-items="ViewBag.ChangeTypeId">
                            <option>Select</option>
                        </select>
                        <a id="ChangesRootUrl" href="~/admin/changes/edit/@Model.Id/"></a>
                        <span asp-validation-for="ChangeTypeId" class="text-danger"></span>
                    </div>
                    @if (Model.ChangeTypeId == 358) // Change of health Facility
                    {
                        <div class="form-group">
                            <label asp-for="DestinationHealthFacilityId" class="control-label"></label>
                            <select asp-for="DestinationHealthFacilityId" class="form-control required filter-list" asp-items="ViewBag.DestinationHealthFacilityId">
                                <option>Select</option>
                            </select>
                            <span asp-validation-for="DestinationHealthFacilityId" class="text-danger"></span>
                        </div>
                    }
                    @if (Model.ChangeTypeId == 307 || Model.ChangeTypeId == 306)
                    {
                        <div class="form-group">
                            <label asp-for="DeathDate" class="control-label"></label>
                            <div class='input-group date'>
                                <input asp-for="DeathDate" type="text" class="form-control required no-typing" autocomplete="off" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <span asp-validation-for="DeathDate" class="text-danger"></span>
                        </div>
                    }
                    <div class="form-group">
                        <label asp-for="NotificationDate" class="control-label"></label>
                        <div class='input-group date'>
                            <input asp-for="NotificationDate" type="text" class="form-control required no-typing" autocomplete="off" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <span asp-validation-for="NotificationDate" class="text-danger"></span>
                    </div>

                    @if (Model.ChangeTypeId == 303 || Model.ChangeTypeId == 304 || Model.ChangeTypeId == 306)
                    {

                        if (Model.ChangeTypeId == 303)
                        {
                            <div class="form-group border-top border-bottom padding-top-10 padding-bottom-10">
                                <strong>Recipient Details</strong>
                            </div>
                            <div class="form-group">
                                <label asp-for="Phone" class="control-label"></label>
                                <input asp-for="Phone" class="form-control required" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="OwnsPhoneId" class="control-label"></label>
                                <select asp-for="OwnsPhoneId" class="form-control required" asp-items="ViewBag.OwnsPhoneId" ng-model="OwnsPhoneId"></select>
                                <span asp-validation-for="OwnsPhone" class="text-danger"></span>
                            </div>
                        }
                        else
                        {
                            <div class="form-group border-top border-bottom padding-top-10 padding-bottom-10">
                                <strong>Nominee Details</strong>
                            </div>
                            <div class="form-group">
                                <label asp-for="Phone" class="control-label"></label>
                                <input asp-for="Phone" class="form-control required" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        }
                        <div class="form-group" ng-show="OwnsPhoneId==2">
                            <label class="control-label">Nominee First Name</label>
                            <input asp-for="NomineeFirstName" class="form-control required" />
                            <span asp-validation-for="NomineeFirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group" ng-show="OwnsPhoneId==2">
                            <label asp-for="NomineeMiddleName" class="control-label"></label>
                            <input asp-for="NomineeMiddleName" class="form-control" />
                            <span asp-validation-for="NomineeMiddleName" class="text-danger"></span>
                        </div>
                        <div class="form-group" ng-show="OwnsPhoneId==2">
                            <label asp-for="NomineeSurname" class="control-label"></label>
                            <input asp-for="NomineeSurname" class="form-control required" />
                            <span asp-validation-for="NomineeSurname" class="text-danger"></span>
                        </div>
                        <div class="form-group" ng-show="OwnsPhoneId==2">
                            <label asp-for="NomineeIdNumber" class="control-label"></label>
                            <input asp-for="NomineeIdNumber" class="form-control required" />
                            <span asp-validation-for="NomineeIdNumber" class="text-danger"></span>
                        </div>
                    }
                    @if (Model.ChangeTypeId == 305)
                    {
                        <div class="form-group border-top border-bottom padding-top-10 padding-bottom-10">
                            <strong>Next of Kin Details</strong>
                        </div>
                        <div class="form-group">
                            <label asp-for="NOKFirstName" class="control-label"></label>
                            <input asp-for="NOKFirstName" class="form-control" />
                            <span asp-validation-for="NOKFirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NOKMiddleName" class="control-label"></label>
                            <input asp-for="NOKMiddleName" class="form-control" />
                            <span asp-validation-for="NOKMiddleName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NOKSurname" class="control-label"></label>
                            <input asp-for="NOKSurname" class="form-control" />
                            <span asp-validation-for="NOKSurname" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NOKPhone" class="control-label"></label>
                            <input asp-for="NOKPhone" class="form-control" />
                            <span asp-validation-for="NOKPhone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NOKIdNumber" class="control-label"></label>
                            <input asp-for="NOKIdNumber" class="form-control" />
                            <span asp-validation-for="NOKIdNumber" class="text-danger"></span>
                        </div>
                    }
                    @if (Model.ChangeTypeId == 307)
                    {
                        <div class="form-group">
                            <label asp-for="ChildId" class="control-label"></label>
                            <select asp-for="ChildId" class="form-control" asp-items="ViewBag.ChildId">
                                <option>Select</option>
                            </select>
                            <span asp-validation-for="ChildId" class="text-danger"></span>
                        </div>
                    }
                    <div class="form-group">
                        <label asp-for="Notes" class="control-label"></label>
                        <textarea asp-for="Notes" class="form-control"></textarea>
                        <span asp-validation-for="Notes" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SupportingDocument" class="control-label"></label>
                        <input type="file" class="form-control supporting-document" id="filecontrol" name="file" />
                        <span asp-validation-for="SupportingDocument" class="text-danger"></span>
                        <span class="text-danger field-validation-error form-error">
                            <span class="">*Attach Supporting Document in PDF format.</span>
                        </span>
                    </div>
                    <div class="form-group margin-top-20">
                        <a asp-action="Index" class="btn btn-default glyphicon glyphicon-step-backward"> Back</a>
                        <button type="submit" class="btn btn-success pull-right">
                            <i class="glyphicon glyphicon-ok-sign"></i> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $('#ChangeTypeId').on('change', function (e) {
                var url = $('#ChangesRootUrl').attr('href') + $(this).val();
                window.location = url;
            });
            var scope = angular.element(document.querySelector('body')).scope();
            scope.$apply(function (filter) {

                if ('@Model.OwnsPhoneId' !== '0') {
                    scope.OwnsPhoneId = parseInt('@Model.OwnsPhoneId');
                }
                if ('@Model.ChangeTypeId' == '306') {
                    scope.OwnsPhoneId = 2;
                }
            });
        });
    </script>
}