@model MCHMIS.ViewModels.EnrolmentApprovalsViewModel
@{
    ViewBag.Title = "Approvals";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<form asp-action="ActionSave" class="form-vertical">
    <div class="form-vertical">

        @if (!Model.Option.Equals("import"))
        {
            <div class="col-md-12">
                <strong>No of Households: </strong>
                @Html.DisplayFor(modelItem => Model.Enrolment.HouseholdsGenerated)
            </div>
            <div class="col-md-12">
                <strong>Date Created: </strong>@Html.DisplayFor(modelItem => Model.Enrolment.DateCreated)
            </div>
            <div class="col-md-12">
                <strong>Created by: </strong> @Html.DisplayFor(modelItem => Model.Enrolment.CreatedBy.Name)
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-12">
                        <strong>@Html.DisplayNameFor(modelItem => Model.NotRegistered): </strong> @Html.DisplayFor(modelItem => Model.NotRegistered)
                    </div>
                    <div class="col-md-12">
                        <strong>@Html.DisplayNameFor(modelItem => Model.NamesMismatch): </strong> @Html.DisplayFor(modelItem => Model.NamesMismatch)
                    </div>
                    <div class="col-md-12">
                        <strong>@Html.DisplayNameFor(modelItem => Model.Validated): </strong> @Html.DisplayFor(modelItem => Model.Validated)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12">
                        <strong>No of Households: </strong>
                        @Html.DisplayFor(modelItem => Model.Enrolment.HouseholdsGenerated)
                    </div>
                    <div class="col-md-12">
                        <strong>Date Imported: </strong>@Html.DisplayFor(modelItem => Model.Enrolment.DateImported)
                    </div>
                    <div class="col-md-12">
                        <strong>Imported by: </strong> @Html.DisplayFor(modelItem => Model.Enrolment.ImportedBy.Name)
                    </div>
                </div>
            </div>
            <p class="text-danger">Note: Approving the list means the mothers will be enrolled and available in the next payrol</p>
        }

        <hr />

        <div class="form-group col-md-12 ">
            <label asp-for="Notes" class="control-label"></label>
            <span class="field-validation-valid notes-error text-danger">*This field is required.</span>
            <textarea asp-for="Notes" class="form-control approval-notes" />
        </div>
        <div class="form-group col-md-12 padding-top">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success pull-right btn-approve">
                <i class="glyphicon glyphicon-ok-sign"></i> Approve
            </button>

            <input type="hidden" name="StatusId" id="action" value="3" />
        </div>

        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.Option)
    </div>
</form>