@using Newtonsoft.Json
@model MCHMIS.ViewModels.RegistrationListViewModel

<form asp-action="Search">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group col-md-2 col-xs-3 ">
        <label asp-for="UniqueId" class="control-label"></label>
        <input asp-for="UniqueId" class="form-control" />
    </div>
    <div class="form-group col-md-2 col-xs-3 ">
        <label asp-for="IdNumber" class="control-label"></label>
        <input asp-for="IdNumber" class="form-control" />
    </div>
    <div class="form-group col-md-2 col-xs-3 ">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="col-md-2 pull-left">
        <button type="submit" class="btn btn-success pull-left btn-filter inline">
            <i class="glyphicon glyphicon-search"></i> Search
        </button>
        <button type="button" class="btn btn-default btn-reset pull-left btn-filter inline">
            <i class="fa fa-eraser"></i> Clear
        </button>
    </div>
    <input type="hidden" name="Page" id="pagination-page" value="1" />
    <input type="hidden" name="postBack" value="postBack" />
</form>
@if (Model.HouseholdRegs != null)
{
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Unique ID</th>
                <th>
                    @Html.DisplayNameFor(model => model.Household.Mother.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Household.Mother.MiddleName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Household.Mother.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Household.Mother.IdNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Household.HealthFacilityId)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Household.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Household.EDD)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Household.Village.Ward.SubCountyId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Household.Village.WardId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Household.Village.Name)
                </th>
                <th>Select</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.HouseholdRegs)
            {
                <tr>
                    <td> @Html.DisplayFor(modelItem => item.UniqueId)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mother.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mother.MiddleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mother.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mother.IdNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HealthFacility.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EDD)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Village.Ward.SubCounty.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Village.Ward.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Village.Name)
                    </td>
                    <td class="fit">
                        <a asp-action="Statement" class="fa fa-eye" asp-route-id="@item.Id"></a>
                    </td>
                </tr>
            }
            @if (!Model.HouseholdRegs.Any())
            {
                <tr>
                    <td colspan="20" class="dataTables_empty">
                        No data found.
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var scope = angular.element(document.querySelector('body')).scope();
            scope.$apply(function (filter) {
                scope.wards = @Html.Raw(JsonConvert.SerializeObject(Model.Wards));
                scope.SubCountyId ='@Model.SubCountyId';
                scope.WardId = '@Model.WardId';
                setTimeout(function() {
                    $('#WardId').val('@Model.WardId');
                },100);
            });
        });
    </script>
}