@model IEnumerable<MCHMIS.Models.Payroll>

    @{
    ViewData["Title"] = "Payrolls";
    }
    @section buttons
    {
    <a class="btn btn-primary lnk-modal" asp-action="Create">Add New</a>
    }
    <table id="table-only" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cycle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Beneficiaries)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateApproved)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApprovedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th class="fit">
                    @Html.DisplayNameFor(model => model.Reconciled)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateReconciled)
                </th>

                <th class="fit">Summary</th>
                <th class="fit">View</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cycle.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Beneficiaries)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy.DisplayName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateApproved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApprovedBy.DisplayName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Name)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Reconciled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateReconciled)
                </td>

                <td class="text-center">
                    <a asp-action="Summary" class="fa fa-eye" asp-route-id="@item.Id"> </a>
                </td>
                <td class="text-center">
                    <a asp-action="Details" class="fa fa-eye" asp-route-id="@item.Id"> </a>
                </td>
            </tr>
            }
        </tbody>
    </table>