@using Newtonsoft.Json
@model MCHMIS.ViewModels.CVListGenerateViewModel
@{
    ViewBag.Title = "Generate Community Validation List?";

    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<form asp-action="Save" class="community-validation">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="col-md-12">
        @if (Model.Total > 0)
        {

            <div class="col-md-12">
                <p><strong>Categories of mothers that can be generated</strong> </p>
                <ul class="no-list-style">
                    <li>
                        <input type="checkbox" class="cv-checkbox" name="StatusIds" value="1" @(Model.Ready == 0 ? "disabled" : "") /> <span class="text-success">Mothers ready for Community Validation: @Model.Ready</span>
                    </li>
                </ul>
                <p class="text-danger">By selecting the mothers/nominee highlighted in the below categories who either have names or date mismatch with what was captured from the physical ID or haven't run through IPRS you will be allowing them to proceed without validating the details provided.</p>
                <ul class="no-list-style">
                    <li>
                        <input type="checkbox" class="cv-checkbox" name="StatusIds" value="2" @(Model.NotMatched == 0 ? "disabled" : "") /><span> Mothers who have gone through IPRS but their names / date of birth didn't match: @Model.NotMatched</span>
                    </li>
                    <li>
                        <input type="checkbox" class="cv-checkbox" name="StatusIds" value="3" @(Model.NotIprsed == 0 ? "disabled" : "") /> <span>Mothers who have not gone through IPRS: @Model.NotIprsed </span>
                    </li>
                </ul>
                @*<div class="form-group">
                        <label asp-for="NoToGenerate" class="control-label"></label>
                        <input asp-for="NoToGenerate" class="form-control" />
                        <span asp-validation-for="NoToGenerate" class="text-danger"></span>
                    </div>*@
                <div class="form-group">
                    <input asp-for="NoToGenerate" type="hidden" value="10000" class="form-control" />
                    <label asp-for="Notes" class="control-label"></label>
                    <input asp-for="Notes" class="form-control" />
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>
            </div>
        }
        else
        {
            <p>No beneficiaries ready for community validation</p>
        }
    </div>
    <div class="col-md-12">
        <hr />
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        @if (Model.Total > 0)
        {
            <button type="submit" class="btn btn-success pull-right">
                <i class="glyphicon glyphicon-ok-sign"></i> Generate
            </button>
        }
    </div>
</form>