@model MCHMIS.Areas.Legacy.ViewModels.LegacyDetailsViewModel

@{
    ViewData["Title"] = "Details";
}
<style>
    dt, dd {
        border-bottom: 1px solid;
        padding: 2px;
    }

    dd {
        border-right: 1px solid;
    }
</style>
<div class="col-md-6 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Record Details</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content sectiona" style="min-height: 300px">
            <div class="form-horizontal">

                <dl class="dl-horizontal col-md-6">
                    <dt>
                        <strong class="text-danger"> @Html.DisplayNameFor(model => model.Exception)</strong>
                    </dt>
                    <dd>
                        <strong class="text-danger"> @Html.DisplayFor(model => model.Exception)</strong>
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Mother.M_Names)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Mother.M_Names)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Mother.M_IDNo)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Mother.M_IDNo)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Mother.M_DOB)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Mother.M_DOB)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Mother.M_County)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Mother.M_County)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Mother.M_Ward)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Mother.M_Ward)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Mother.M_Phoneno)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Mother.M_Phoneno)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Mother.M_Address)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Mother.M_Address)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Mother.M_Occupation)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Mother.M_Occupation)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Mother.F_Names)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Mother.F_Names)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Mother.F_IDNo)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Mother.F_IDNo)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Mother.F_DOB)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Mother.F_DOB)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Mother.F_County)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Mother.F_County)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Mother.F_Ward)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Mother.F_Ward)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Mother.F_Phoneno)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Mother.F_Phoneno)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Mother.F_Photo)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Mother.F_Photo)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Mother.F_Address)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Mother.F_Address)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Mother.F_Occupation)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Mother.F_Occupation)
                    </dd>
                </dl>
                <dl class="dl-horizontal col-md-6">

                    <dt>
                        @Html.DisplayNameFor(model => model.Mother.F_Income)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Mother.F_Income)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Mother.G_Names)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Mother.G_Names)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Mother.G_IDNo)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Mother.G_IDNo)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Mother.G_DOB)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Mother.G_DOB)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Mother.G_County)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Mother.G_County)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Mother.G_Ward)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Mother.G_Ward)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Mother.G_Phoneno)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Mother.G_Phoneno)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Mother.G_Photo)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Mother.G_Photo)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Mother.G_Address)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Mother.G_Address)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Mother.G_Occupation)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Mother.G_Occupation)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Mother.G_Income)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Mother.G_Income)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Mother.G_Relationship)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Mother.G_Relationship)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Mother.Other_income)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Mother.Other_income)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Mother.facilityid)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Mother.facilityid)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Mother.CareOf)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Mother.CareOf)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Mother.unqualified_reason)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Mother.unqualified_reason)
                    </dd>
                </dl>
                @if (Model.DirtyList.Any())
                {
                    <div class="scrollable col-md-12">
                        <hr/>
                        <h2 class="text-danger">Other Exceptions</h2>
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Mother.M_Names)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mother.M_Phoneno)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mother.Facility)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mother.Dirty.Reason)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mother.Dirty.Field)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mother.Dirty.Notes)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mother.Dirty.Status)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mother.Dirty.ApprovalStatusId)
                            </th>

                            </thead>
                            <tbody>
                            @foreach (var item in Model.DirtyList)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mother.M_Names)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mother.M_Phoneno)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mother.Facility.names)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Reason)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Field)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Notes)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ApprovalStatus.Name)
                                    </td>
                                </tr>
                            }

                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="col-md-6 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Update</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content sectiona" style="min-height: 300px">
            @if (Model.ApprovalStatusId == 6)
            {
                <div class="alert alert-danger" role="alert">
                    <p>Status: Rejected</p>
                    <p>Notes: @Model.ApprovalNotes</p>
                </div>
            }
            <form asp-action="Update" class="update-form" enctype="multipart/form-data">
                <input asp-for="Id" type="hidden" />
                <div class="form-horizontal">
                    <div class="form-group">
                        <label asp-for="NationalId" class="control-label"></label>
                        <input asp-for="NationalId" class="form-control required" />
                        <span asp-validation-for="NationalId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DOB" class="control-label"></label>
                        <div class='input-group date'>
                            <input asp-for="DOB" type="text" class="form-control required no-typing" autocomplete="off" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <span asp-validation-for="DOB" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StatusId" class="control-label"></label>
                        <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId">
                            <option value="">Select</option>
                        </select>
                        <span asp-validation-for="StatusId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Notes" class="control-label"></label>
                        <textarea asp-for="Notes" class="form-control"></textarea>
                        <span asp-validation-for="Notes" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SupportingDocument" class="control-label"></label>
                        <input type="file" class="form-control supporting-document" id="filecontrol" name="file" />
                        <span asp-validation-for="SupportingDocument" class="text-danger"></span>
                        <span class="text-danger field-validation-error form-error">
                            <span class="">*Attach Supporting Document in PDF format.</span>
                        </span>
                    </div>
                    <div class="form-group">
                        <hr />
                        <button type="submit" class="btn btn-success pull-right">
                            <i class="glyphicon glyphicon-ok-sign"></i> Save
                        </button>
                        <a asp-action="Index" class="btn btn-danger glyphicon glyphicon-step-backward pull-left"> Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.update-form').on('submit', function (e) {
                var failed = false;

                if ($('.supporting-document').val() !== undefined && $('.supporting-document').val().toLowerCase().indexOf(".pdf") < 0) {
                    $('.form-error').fadeIn();
                    failed = true;
                } else {
                    $('.form-error').fadeOut();
                }

                if (failed === true) {
                    e.preventDefault();
                    return false;
                }
            });
        });
    </script>
}