@using MCHMIS.Areas.Reports.ViewModels
@using X.PagedList.Mvc.Core
@model MCHMIS.Areas.Reports.ViewModels.PaymentsViewModel

<partial name="_SearchNoPayrol" />
@if (Model.Disbursements != null)
{
    <table id="table-filter-sort" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Disbursement.Facility)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Disbursement.Beneficiaries)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Disbursement.Amount)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Disbursements)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Facility)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Beneficiaries)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                </tr>
            }
        </tbody>
        @if (Model.Disbursements.Any())
        {
            <tfoot>
                <tr>
                    <td colspan="1">
                        <strong>Total</strong>
                    </td>
                    <td>
                        <strong>@Model.Disbursements.Sum(i => i.Beneficiaries).ToString("##,###")</strong>
                    </td>
                    <td>
                        <strong>@Model.Disbursements.Sum(i => i.Amount).ToString("##,###")</strong>
                    </td>
                </tr>
            </tfoot>
        }
    </table>

}
@section scripts{
    <partial name="_Scripts" />
}