@model IEnumerable<MCHMIS.Models.HealthFacility>

@{
    ViewData["Title"] = "Health Facilities";
}
@section buttons{
    <a asp-action="Create">Create New</a>
}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubCounty)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubCounty.Name)
                </td>
                <td class="fit">
                    <a asp-action="Edit" class="fa fa-pencil" asp-route-id="@item.Id"></a>
                </td>
            </tr>
        }
    </tbody>
</table>