@using Newtonsoft.Json
@using X.PagedList.Mvc.Core
@model MCHMIS.ViewModels.ComplaintListViewModel

@{
    ViewData["Title"] = "Complaints";
}

@section buttons
    {
    <a class="btn btn-primary" asp-action="create">Create New</a>
}

<form asp-action="Index" class="form-paginated">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group col-md-2">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group col-md-2">
        <label asp-for="HealthFacilityId" class="control-label"></label>
        <select asp-for="HealthFacilityId" class="form-control filter-list" asp-items="ViewBag.HealthFacilityId">
            <option value="">Select</option>
        </select>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="SubCountyId" class="control-label"></label>
        <select asp-for="SubCountyId" class="form-control filter-list" ng-model="SubCountyId" asp-items="ViewBag.SubCountyId">
            <option value="">Select</option>
        </select>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="WardId" class="control-label"></label>
        <select asp-for="WardId" class="form-control filter-list" ng-model="WardId">
            <option value="">Select</option>
            <option ng-repeat="item in wards | filter: {SubCountyId: SubCountyId}" value="{{item.Id}}">
                {{item.Name}}
            </option>
        </select>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="StatusId" class="control-label"></label>
        <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId">
            <option value="">Select</option>
        </select>
    </div>
    <div class="col-md-2 pull-left">
        <button type="submit" class="btn btn-success pull-left btn-filter inline">
            <i class="glyphicon glyphicon-search"></i> Search
        </button>
        <button type="button" class="btn btn-default btn-reset pull-left btn-filter inline">
            <i class="fa fa-eraser"></i> Clear
        </button>
    </div>
    <input type="hidden" name="Page" id="pagination-page" value="1" />
</form>
<hr />
<table class="table table-striped table-bordered">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Complaint.ComplaintType.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complaint.ComplaintTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complaint.ComplaintDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complaint.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complaint.IdNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complaint.Phone)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Complaint.HealthFacility)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complaint.Village.Ward.SubCountyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complaint.Village.Ward)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complaint.Village)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complaint.StatusId)
            </th>
            <th class="fit">Edit</th>
            <th class="fit">View</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Complaints)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Category.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ComplaintType.Name)
                    @Html.DisplayFor(modelItem => item.OtherComplaintType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ComplaintDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.HealthFacility.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Village.Ward.SubCounty.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Village.Ward.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Village.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Name)
                </td>
                <td class="text-center">
                    @if (item.StatusId == 1)
                    {
                        <a asp-action="Edit" class="fa fa-pencil" asp-route-id="@item.Id"></a>
                    }
                </td>
                <td class="text-center">
                    <a asp-action="Details" class="fa fa-eye" asp-route-id="@item.Id"></a>
                </td>
            </tr>
        }
        @if (!Model.Complaints.Any())
        {
            <tr>
                <td class="dataTables_empty" colspan="20">
                    No data found.
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model.Complaints, page => Url.Action("Index", new { page }))

@section scripts{
    <script>
        $(document).ready(function () {
            var scope = angular.element(document.querySelector('body')).scope();
            scope.$apply(function (filter) {
                scope.wards = @Html.Raw(JsonConvert.SerializeObject(Model.Wards));
                scope.SubCountyId = '@Model.SubCountyId';
                scope.WardId = '@Model.WardId';
            });
            setTimeout(function() {
                $('#SubCountyId').val('@Model.SubCountyId');
                $('#WardId').val('@Model.WardId');
                $('.select-searchable,.filter-list').select2();
            },100);
        });
    </script>
}